{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'styles/index.css' %}">
	<title>Home</title>
</head>
<body>
	<div class="frame_container">
		<input type="text" name="search" id="search">
		<button id="submit">Search</button><br>
		<button id="channel" class="nav-image">Channel</button><br>
		<button id="home" class="nav-image">Home</button><br>
		<button id="favoritecreators" class="nav-image">Favorite Creators</button><br>
		<button id="recentvideos" class="nav-image">Recent Videos</button><br>
	</div>
	<div>
	<h2>Videos of the Day</h2>
	<div class="grid-container">
		<div class="grid-item">
			<img 
				width="320" height="240"
				id="video1"
				src="{% static "assets/channels/MaggieTube/cocoatoot/thumbnail.png" %}" alt="thumbnail">
		</div>
		<div class="grid-item">
			<img 
				width="320" height="240"
				id="video2"
				src="{% static "assets/channels/MaggieTube/hyperfrump/thumbnail.png" %}" alt="thumbnail">
		</div>
		<div class="grid-item">
			<img 
				width="320" height="240"
				id="video3"
				src="{% static "assets/channels/MaggieTube/mimiroseradio/thumbnail.png" %}" alt="thumbnail">
		</div>
		<div class="grid-item">
			<img 
				width="320" height="240"
				id="video4"
				src="{% static "assets/channels/MaggieTube/sciencefantasyfinal/thumbnail.png" %}" alt="thumbnail" >
		</div>
		<div class="grid-item">
			<img 
				width="320" height="240"
				id="video5"
				src="{% static "assets/channels/MaggieTube/vlogtest/thumbnail.png" %}" alt="thumbnail">
		</div>
	</div>
</body>
<footer>
	<script type="text/javascript" src="{% static 'scripts/index.js' %}"></script>
	<script type="text/javascript">
		document.getElementById("channel").onclick = function(){
			document.location.href = "channel";
		}
		document.getElementById("home").onclick = function(){
			document.location.href = "../";
		}
		document.getElementById("favoritecreators").onclick = function(){
			document.location.href = "favoritecreators";
		}
		document.getElementById("recentvideos").onclick = function(){
			document.location.href = "recentvideos";
		}
		document.getElementById('video0').onclick = function() {
			document.location.href = "videoplayer?channel=MaggieTube&video=bookreviewlotr"
		}
		document.getElementById('video1').onclick = function() {
			document.location.href = "videoplayer?channel=MaggieTube&video=cocoatoot"
		}
		document.getElementById('video2').onclick = function() {
			document.location.href = "videoplayer?channel=MaggieTube&video=hyperfrump"
		}
		document.getElementById('video3').onclick = function() {
			document.location.href = "videoplayer?channel=MaggieTube&video=mimiroseradio"
		}
		document.getElementById('video4').onclick = function() {
			document.location.href = "videoplayer?channel=MaggieTube&video=sciencefantasyfinal"
		}
		document.getElementById('video5').onclick = function() {
			document.location.href = "videoplayer?channel=MaggieTube&video=vlogtest"
		}


	</script>
</footer>
</html>