{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Recent Videos</title>
</head>
<body>
	<div>
		<input type="text" name="search" id="search">
		<button id="submit">Search</button><br>
		<button id="channel" class="nav-image">Channel</button><br>
		<button id="home" class="nav-image">Home</button><br>
		<button id="favoritecreators" class="nav-image">Favorite Creators</button><br>
		<button id="recentvideos" class="nav-image">Recent Videos</button><br>
	</div>
	<div>
		<center><h1> Recent Videos </h1></center>
		<p> A Vast Land With Body Of Water </p>
		<video 
	        class="video" width="400" height="250" controls
	        src="{% static 'assets/channels/MaggieTube/body_of_water/video.mp4' %}">
	    </video>
		<p> Time Lapse Video Of Clouds </p>
		<video 
	        class="video" width="400" height="250" controls
	        src="{% static 'assets/channels/MaggieTube/clouds/video.mp4' %}">
	    </video>
		<p> Girl Sitting on Beach </p>
		<video 
	        class="video" width="400" height="250" controls
	        src="{% static 'assets/channels/MaggieTube/girl_on_beach/video.mp4' %}">
	    </video>
	</div>
</body>
<footer>
	<script type="text/javascript" src="{% static 'scripts/recentvideos.js' %}"></script>
	<script type="text/javascript">
		document.getElementById("channel").onclick = function(){
			document.location.href = "channel";
		}
		document.getElementById("home").onclick = function(){
			document.location.href = "../";
		}
		document.getElementById("favoritecreators").onclick = function(){
			document.location.href = "favoritecreators";
		}
		document.getElementById("recentvideos").onclick = function(){
			document.location.href = "recentvideos";
		}
	</script>
</footer>
</html>