{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Recent Videos</title>
	<link rel="stylesheet" href="{% static 'styles/recentvideos.css' %}">
</head>
<body>
	<div>
		<input type="text" name="search" id="search">
		<button id="submit">Search</button><br>
		<button id="channel" class="nav-image">Channel</button><br>
		<button id="home" class="nav-image">Home</button><br>
		<button id="favoritecreators" class="nav-image">Favorite Creators</button><br>
		<button id="recentvideos" class="nav-image">Recent Videos</button><br>
	</div>
	<div>
		<center><h1 class="rv_title"> Recent Videos </h1></center>
		<p class="video_title"> Book Review of Lord of the Rings</p>
		<video 
	        class="video" width="400" height="250" controls
	        src="{% static 'assets/channels/MaggieTube/bookreviewlotr/video.mp4' %}">
	    </video>
		<p class="video_title"> Cocoa Toot</p>
		<video 
	        class="video" width="400" height="250" controls
	        src="{% static 'assets/channels/MaggieTube/cocoatoot/video.mp4' %}">
	    </video>
		<p class="video_title"> Hyper Frump </p>
		<video 
	        class="video" width="400" height="250" controls
	        src="{% static 'assets/channels/MaggieTube/hyperfrump/video.mp4' %}">
	    </video>
	</div>
</body>
<footer>
	<script type="text/javascript" src="{% static 'scripts/recentvideos.js' %}"></script>
	<script type="text/javascript">
		document.getElementById("channel").onclick = function(){
			document.location.href = "channel";
		}
		document.getElementById("home").onclick = function(){
			document.location.href = "../";
		}
		document.getElementById("favoritecreators").onclick = function(){
			document.location.href = "favoritecreators";
		}
		document.getElementById("recentvideos").onclick = function(){
			document.location.href = "recentvideos";
		}
	</script>
</footer>
</html>