{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/videoplayer.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/channels/MaggieTube/logo/MT_Logo.png' %}" />
    <title>Video Player</title>
</head>
<body>
    <div>
        <input type="text" name="search" id="search">
        <button id="submit">Search</button><br>
        <button id="channel" class="nav-image">Channel</button><br>
        <button id="home" class="nav-image">Home</button><br>
        <button id="favoritecreators" class="nav-image">Favorite Creators</button><br>
        <button id="recentvideos" class="nav-image">Recent Videos</button><br>
    </div>
    <div>
        <center>
            <h1 id="video_title"> </h1>
            <video 
                width="400" height="250" controls
                id="player"
                type="video/mp4">
                Your browser does not support this video tag.
            </video>
            <br/>
            <br/>
            <button>Subscribe</button>
            <button>Report Video</button>
            <p class="comments">Comments are disabled on this video.</p>
        </center>
    </div>
</body>
<footer>
    <script type="text/javascript" src="{% static 'scripts/videoplayer.js' %}"></script>
    <script type="text/javascript">
        document.getElementById("channel").onclick = function(){
            document.location.href = "channel";
        }
        document.getElementById("home").onclick = function(){
            document.location.href = "../";
        }
        document.getElementById("favoritecreators").onclick = function(){
            document.location.href = "favoritecreators";
        }
        document.getElementById("recentvideos").onclick = function(){
            document.location.href = "recentvideos";
        }
        let foo = window.location.search.split('&')
        let l = []
        foo.forEach(element => {
            l.push(element.split('='))
        });
        document.getElementById('player').src = "{% static 'assets/channels/'%}" + l[0][1] + '/' + l[1][1] + '/video.mp4';
    </script>
</footer>
</html>