{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <video 
        width="320" height="240" controls
        src="{% static 'assets/channels/MaggieTube/body_of_water/video.mp4' %}" type="video/mp4">
        Your browser does not support this video tag.
    </video>
    <br/>
    <br/>
    <button>Subscribe</button>
    <button>Report Video</button>
    <p>Comments are disabled on this video</p>
</body>
</html>