#top-bar{
	height: 125px;
	background-color: green;
	width: 100%;
}

#nav-bar{
	width: 125px;
	background-color: green;
	height: 100%;
	position: absolute;
}

#search-bar{
	
}

.nav-image{
	width: 75px;
	margin: 25px;
}