#top-bar{
	height: 125px;
	background-color: green;
	width: 100%;
}

#nav-bar{
	width: 125px;
	background-color: green;
	height: 100%;
	position: absolute;
}

#search-bar{
	
}

.nav-image{
	width: 75px;
	margin: 25px;
}

/***************************/
.search-bar{grid-area: B;}
.nav-barP
.grid-container{
	display: grid;
	grid-template-areas: 
		'A B B B B B'
		'A C C C C C'
		'A C C C C C'
		'A C C C C C'
		'A C C C C C';
	grid-gap: 20px;
}